* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.all-header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 9rem;
    align-items: center;
}

.header ul,
.btn {

    display: flex;

}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange {
    color: #FD6E0A;
}

.header ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 9px;
    font-size: 1.1rem;
    cursor: pointer;
}

.header h2 {
    font-size: 2rem;
}

.btn {
    height: 2rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 450;
    color: #fff;
    background-color: #FD6E0A;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ====================== */
.all-img {
    display: flex;
    align-items: center;
    margin: 0 9rem;
}

.all-text .btn {
    width: 8.1rem;
    height: 2.3rem;
    margin-top: 1rem;
}

.text {
    margin-top: .8rem;
}

.all-text h1 {
    margin-top: .8rem;
}

/* =================== */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    text-align: center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.text-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.info{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    font-size: 20px;
}
.info-description{
    margin: 0 20px;
}

/* ========================= */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
} 
.skill{
    background: #FFFFFF;
    box-shadow: 0 6px 50px rgba(0,0,0,0.06);
    border-radius: 6px;
    padding: 30px;
    height: 16rem;
}
.skill-description{
    color: #757575;
}
/* ============ */
.resume-content{
    display: flex;
    gap:24px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
}
.resume .description{
    color:#757575;
}
.resume-item{
    margin-top:30px;
    margin-bottom:30px;
}
.resume-button{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
.resume-button .btn{
    width: 8rem;
    height: 2.5rem;
}
/* ====================== */
.contact{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}

.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: none;
    outline: none;  
    width: 100%;
    padding: 18px 20px;
    border-radius: 5px;
    font-size: 1rem;
}
.contact input[type="text"], input[type="email"]{
    height: 3rem;
}
.contact .btn{
    width: 8rem;
    height: 3rem;
}
.contact p{
    margin-bottom: 10px;
}
.contact a{
    text-decoration: none;
    
}
.contact img ,a{
    font-size: 1rem;
}

/* ============================ */

@media screen and (max-width:576px) {
    .info{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .about,
    .skills-container,
     .resume-content,
     .contact
     {
        padding:20px;
    }
    .what-i-do, .resume, .contact{
        margin-top: 2rem;
    }
    .what-i-do .skills-container, .resume-content, .all-img{
        display: flex;
        flex-direction: column;
    }
    .contact input[type="text"], input[type="email"], textarea{
        padding: 0;
    }
    .contact{
        flex-direction: column;
    }
    .all-img{
        margin: 20px;
    }
    .all-img img{
        width: 100%;
    }
    .header{
        padding: 20px;
        flex-direction: column;
        gap: 6px;
    }
    .all-header{
        background-image: none;
    }
}
@media screen and (min-width:577px) and (max-width:992px) {
    .about,
    .skills-container,
     .resume-content,
     .contact
     {
        padding:20px;
    }
    .contact input[type="text"], input[type="email"], textarea{
        padding: 0;
    }
    .section-title{
        font-size: 27px;
    }
    .all-img{
        margin: 0 29px;
    }
}



